.cargo/
target/
packages/shells/dist/
packages-dist/
packages/binutils/config/local.config.lua
packages/binutils/local-crates
local-packages/
packages/wezterm/local_config_overrides.lua
!.lazy.lua
/.task/
