[user]
  name = Robert Jackson
  email = robert.w.jackson@me.com
  signingkey = 171F7219
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = /Users/rjackson/.gitignore_global
  editor = vim
[color]
  ui = true
[github]
  user = rwjblue
[push]
  default = simple
[alias]
  list-branch-tests = "! git diff --diff-filter=ACMRTUXB --name-only master -- spec test | egrep '_(spec|test).rb' "
  diff-upstream = "! git for-each-ref --shell --format='b=%(refname:short); u=%(upstream:short); git diff  ' refs/heads/master | sh"
  delete-merged-branches = "!git branch --merged | grep -v master | grep -v $(git symbolic-ref --short HEAD) | xargs git branch -d"
  setup-fetching-prs = "config --add remote.origin.fetch '+refs/pull/*/head:refs/remotes/origin/pr/*'"
  cp = "cherry-pick -x"
